# Basic gitignore template for Hugo SSG - which has some stuff for WordPress migration
#
# This is a template .gitignore file for git-managed Hugo projects.
#
# Fact: you don't want Hugo core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.
#
# Ignore everything in the root except the "content" directory and "static"
!.gitignore
libs/
_site/
.quarto/
