ablog
absl-py
accessible-pygments
aiodns
aiohttp
aiosignal
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
binaryornot
bleach
certifi
cffi
chardet
charset-normalizer
click
comm
contourpy
cookiecutter
cycler
debugpy
decorator
defusedxml
docutils
executing
fastjsonschema
feedgen
fonttools
fqdn
frozenlist
ghp-import
graphviz
greenlet
h11
httpcore
httpx
idna
imagesize
immutabledict
importlib-metadata
invoke
ipykernel
ipython
isoduration
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-book
jupyter-cache
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupytext
kiwisolver
latexcodec
linkify-it-py
lxml
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
maxminddb
mdit-py-plugins
mdurl
mistune
mozilla-sphinx-theme
multidict
myst-nb
myst-parser
nbclient
nbconvert
nbformat
nest-asyncio
notebook-shim
numpy
ortools
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
pip
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf
proxybroker
psutil
ptyprocess
pure-eval
pybtex
pybtex-docutils
pycares
pycparser
pydata-sphinx-theme
pygments
pyparsing
python-dateutil
python-json-logger
python-slugify
pytz
pyyaml
pyzmq
quarto
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
seaborn
send2trash
setuptools
shibuya
six
sniffio
snowballstemmer
soupsieve
sphinx
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-design
sphinx-external-toc
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
sphinx-nameko-theme
sphinx-thebe
sphinx-togglebutton
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlalchemy
stack-data
tabulate
tenacity
terminado
text-unidecode
threadpoolctl
tinycss2
tornado
traitlets
types-python-dateutil
typing-extensions
tzdata
uc-micro-py
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
wheel
yarl
zipp
