accessible-pygments
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
binaryornot
bleach
certifi
cffi
chardet
charset-normalizer
click
comm
contourpy
cookiecutter
cycler
debugpy
decorator
defusedxml
docutils
executing
fastjsonschema
fonttools
fqdn
ghp-import
greenlet
h11
httpcore
httpx
idna
imagesize
importlib_metadata
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-book
jupyter-cache
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
latexcodec
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
mozilla-sphinx-theme
myst-nb
myst-parser
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure-eval
pybtex
pybtex-docutils
pycparser
pydata-sphinx-theme
Pygments
pyparsing
python-dateutil
python-json-logger
python-slugify
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
seaborn
Send2Trash
setuptools
shibuya
six
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
sphinx-nameko-theme
sphinx-thebe
sphinx-togglebutton
sphinx_design
sphinx_external_toc
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
stack-data
tabulate
tenacity
terminado
text-unidecode
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel

